<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Customer\Model\AccountManagement">
        <plugin name="no_email_notification" type="Prajwal\Assignmentnew4\Plugin\AccountManagement" sortOrder="1" disabled="false"/>
    </type>
<!--    <preference for="Magento\Customer\Model\AccountManagement" type="Prajwal\Assignmentnew4\Model\AccountManagement"/>-->
</config>
